"*":
  aligner:
    alignComments: true
  "atom-alignment":
    alignBy: [
      "="
      "//"
    ]
    alignmentSpaceChars: [
      "="
      "//"
    ]
  "atom-beautify":
    c:
      configPath: "/home/equilibrium/.atom/uncrustify.cfg"
    cpp:
      configPath: "/home/equilibrium/.atom/uncrustify.cfg"
    general:
      _analyticsUserId: "e27db304-b65d-4ffa-acec-277fea97f0bd"
  "autocomplete-clang": {}
  "autocomplete-plus":
    enableAutoActivation: false
    minimumWordLength: 1
  core:
    projectHome: "/home/equilibrium/src"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  cparts: {}
  docblockr:
    align_tags: "no"
    deep_indent: true
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "2315f0cd-8fbc-6d07-ea8d-7494d01f0764"
  "fold-comments":
    autofold: true
  "fold-functions":
    autofold: true
  linter:
    errorPanelHeight: 142
    showErrorPanel: false
  "linter-clang":
    verboseDebug: true
  minimap:
    adjustAbsoluteModeHeight: true
    displayPluginsControls: false
    minimapScrollIndicator: false
  "minimap-git-diff": {}
  "project-manager":
    prettifyTitle: false
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  "split-diff":
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
".beamer.latex.tex.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".bibtex.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".c.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".cpp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".latex.log.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".latex.memoir.tex.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".latex.tex.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".tex.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
